body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
	height: 100vh;
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
	font-weight: 100;
	font-style: italic;
	
	 
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
button {
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	color: gray;
	font-weight: bold;
	width: 200px;
	margin-bottom: 5px;
	border-radius: 50px;

}
#increment-btn {
	background: darkred;
}
#name
{
	font-family: Poppins-Regular;
  font-size: 15px;
  color: #000000;
  line-height: 1.2;

  display: block;
  width: 650px;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}
#email
{
	font-family: Poppins-Regular;
  font-size: 15px;
  color: #000000;
  line-height: 1.2;

  display: block;
  width: 650px;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}  
#number
{
	font-family: Poppins-Regular;
  font-size: 15px;
  color: #000000;
  line-height: 1.2;

  display: block;
  width: 650px;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}
#password
{
	font-family: Poppins-Regular;
  font-size: 15px;
  color: #000000;
  line-height: 1.2;

  display: block;
  width: 650px;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}
#confirmpassword
{
	font-family: Poppins-Regular;
  font-size: 15px;
  color: #000000;
  line-height: 1.2;

  display: block;
  width: 650px;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}
   .wrap-input100 {
	width: 900%;
	position: relative;
	border-bottom: 2px solid #adadad;
	margin-bottom: 37px;
  }          
  .wrap-login100-form-btn {
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
	border-radius: 25px;
	overflow: hidden;
	margin: 0 auto;
  }
    .login100-form-bgbtn {
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: #a64bf4;
	background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	top: 10;
	left: -100%;
  
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  }
  
  .login100-form-btn {
	font-family: Poppins-Medium;
	font-size: 15px;
	color: rgb(138, 81, 81);
	line-height: 1.2;
	text-transform: uppercase;
  
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
  }
  
  .wrap-login100-form-btn:hover .login100-form-bgbtn {
	left: 0;
  }
   
  .rq {
	color: #FF0000;
	font-size: 10pt;
	}
	